
/*Google Fonts - Nunito Sans and Electrolize*/
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*reusable variables*/
:root {
    --logo-font: "Electrolize", sans-serif;
    --main-font: "Nunito Sans", sans-serif;
    --dark-accent-color: #4F000B;
    --background-color: #720026;
    --light-accent-color: #CE4257;
    --text-color: #FF7F51;
    --text-highlight-color: #FF9B54;
    --black: #000000;
    --white: #FFFFFF;

}

body {
    background-color: var(--background-color);
}

/*navigation*/
.navbar {
    font-family: var(--main-font);
    background-color: var(--dark-accent-color) !important;
    font-size: 25px;
}

.navbar-brand {
    font-family: var(--logo-font);
    color: var(--text-color);
    font-size: 35px;
}

.navbar a {
    color: var(--text-color);
    transition: 0.3s;
}

.navbar a:hover {
    color: var(--white);
}

.user-greeting {
    color: var(--text-color)!important;
}

.active {
    color: var(--text-highlight-color) !important;
    transition: 0.3s;
}

.active:hover {
    color: var(--white) !important;
}

/*main body/content*/
main {
    font-family: var(--main-font);
    color: var(--text-color);
}

#landing {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem;
}

#intro {
    text-align: center;
}

#logo {
    font-family: var(--logo-font);
    color: var(--text-highlight-color);
    font-weight: bold;
}

/*footer*/
footer {
    font-family: var(--main-font);
    background-color: var(--dark-accent-color);
    color: var(--text-color);
    padding: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer a {
    color: var(--text-highlight-color);
    transition: 0.3s;
}

footer a:hover {
    color: var(--white);
}
