
/*Google Fonts - Nunito Sans and Electrolize*/
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*reusable variables*/
:root {
    --logo-font: "Electrolize", sans-serif;
    --main-font: "Nunito Sans", sans-serif;
    --dark-accent-color: #4F000B;
    --background-color: #720026;
    --light-accent-color: #CE4257;
    --text-color: #FF7F51;
    --text-highlight-color: #FF9B54;
    --black: #000000;
    --white: #FFFFFF;

}

body {
    background-color: var(--background-color);
}

/*navigation*/
.navbar {
    font-family: var(--main-font);
    background-color: var(--dark-accent-color) !important;
    font-size: 25px;
}

.navbar-brand {
    font-family: var(--logo-font);
    color: var(--text-color);
    font-size: 35px;
}

.navbar a {
    color: var(--text-color);
    transition: 0.3s;
}

.navbar a:hover {
    color: var(--white);
}

.navbar-toggler-icon {
    color: var(--white) !important;
}

.user-greeting {
    color: var(--text-color)!important;
    padding-right: 1rem;
}

.active {
    color: var(--text-highlight-color) !important;
    transition: 0.3s;
}

.active:hover {
    color: var(--white) !important;
}

/*main body/content*/
main {
    font-family: var(--main-font);
    color: var(--text-color);
}

h5 > a {
    color: var(--text-highlight-color);
}

#landing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

#carousel {
    width: 50%;
}

#intro {
    text-align: center;
    background-color: var(--dark-accent-color);
    border: 1px solid var(--dark-accent-color);
    border-radius: 25px;
    width: 50%;
}

#logo {
    font-family: var(--logo-font);
    color: var(--text-highlight-color);
    font-weight: bold;
}

#community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var(--dark-accent-color);
    border: 1px solid var(--dark-accent-color);
    border-radius: 25px;
    margin:5rem;
}

#community h1 {
    font-family: var(--logo-font)
}

#community ol {
    list-style-type: none;
    margin: 1rem;
}

#sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--dark-accent-color);
    border: 1px solid var(--dark-accent-color);
    border-radius: 25px;
    margin:5rem;
}

#sign-up div {
    margin: 2rem;
}

#sign-up input {
    border: none;
    border-bottom: var(--text-highlight-color);
}

#sign-up a {
    color: var(--text-highlight-color);
}

#log-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--dark-accent-color);
    border: 1px solid var(--dark-accent-color);
    border-radius: 25px;
    margin:5rem;
}

#log-in .row, #log-in button {
    margin: 2rem;
}

#log-in a {
    color: var(--text-highlight-color);
}

#log-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--dark-accent-color);
    border: 1px solid var(--dark-accent-color);
    border-radius: 25px;
    margin:5rem;
}

#log-out button, #log-out .row {
    margin: 1rem;
}

#recent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--dark-accent-color);
    border: 1px solid var(--dark-accent-color);
    border-radius: 25px;
    margin:5rem;
}

#recent h1 {
    margin: 0.5rem;
}

#reviews-div {
    margin: 1rem;
    border: 1px solid var(--light-accent-color);
    border-radius: 25px;
}

#title {
    margin: 1rem;
}

#rating {
    color: var(--text-highlight-color);
}

#review-buttons a {
    color: var(--text-highlight-color);
}

#review-buttons a:hover {
    color: var(--white);
    transition: 0.3s;
}

#submit-form {
    background: var(--dark-accent-color) !important;
    border: 1px solid var(--dark-accent-color);
    border-radius: 25px;
    margin: 5rem;
    padding: 1rem;
}

.alert {
    text-align: center;
    color: var(--white);
}

.btn-close {
    color: var(--white) !important;
}

/*footer*/
footer {
    font-family: var(--main-font);
    background-color: var(--dark-accent-color);
    color: var(--text-color);
    padding: 1rem;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer a {
    color: var(--text-highlight-color);
    transition: 0.3s;
}

footer a:hover {
    color: var(--white);
}
