{% load static %}
{% url 'home' as home_view %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'guidelines' as guidelines_view %}
<!-- {% url 'reviews' as review_details %} -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PLAYed</title>
    <!--Metadata for good SEO-->
    <meta name="description"
        content="PLAYed is a site for sharing short-form video game reviews, and tracking which games users have played.">
    <meta name="keywords" content="PLAYed, video games, computer games, gaming, game reviews, gaming community">
    <!--Favicon-->
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon.png">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-custom">
        <div class="container-fluid d-flex justify-content-between align-items-right">
            <a class="navbar-brand" href="{% url 'home' %}">PLAYed</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Guides</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                    <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_logout' %}">Logout</a>
                    </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
                </ul>
                <div class="navbar-center d-flex justify-content-center">
                    {% if user.is_authenticated %}
                    <span class="user-greeting">
                        Hey {{ user }}!
                    </span>
                    {% endif %}
                </div>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Find your favourites!" aria-label="Search" />
                    <button class="btn btn-outline-warning" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <main>
        {% block content %}
        <!--Page Content-->
        {% endblock content %}
    </main>
    <footer id="footer">
        <p class="text-center"><a href="{% url 'guidelines' %}">Community Guidelines</a> | Made by AbraWalker</p>
    </footer>
    <!--Bootstrap Script-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>

</html>