{% extends "base.html" %}

{% block content %}
<section id = "community">
<h1> Community Guidelines</h1>
<h3> Welcome to PLAYed!</h3>
<p> In order to keep our community safe and open to anyone, please follow our guidelines.</p>
<ol id="rules">
    <li>
        <p>1. Be polite and respectful.</p>
    </li>
    <li>
        <p>2. Do not share personal and/or private information.</p>
    </li>
    <li>
        <p>3. Do not use this platform to spread racist, homophobic, sexist and/or other discriminatory rhetoric.</p>
    </li>
    <li>
        <p>4. Personal attacks, abuse, and aggressive content towards other users will not be tolerated.</p>
    </li>
    <li>
        <p>5. Feel free to post questions/discussion relevant to PLAYed's content.</p>
    </li>
</ol>
<p>Failure to comply with these guidelines may result in post or account deletion.</p>
</section>
{% endblock content %}